[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

.vs/
.gradle/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs

*.apk
*.aab
*.unitypackage

mono_crash.*.blob
mono_crash.*.json
[Mm]emoryCaptures/
[Ll]ogs/

buildfolder/
buildfolder1/
[Bb]uild-*/
[Ww]ebGL-*/
